@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// Colors
$white: white;
$blue: #458eff;
$grey: rgb(120, 120, 120);
$light-grey: rgba(0, 0, 0, 0.2);
$dark-grey: rgb(60, 60, 60);

// Constants
$header-height: 50px;
$homepage-container-max-width: 600px;
$user-page-container-max-width: 950px;
$margin-left-right: 20px;
$bio-padding-left: 20px;

@mixin border-bottom {
	border-bottom: 1px solid $light-grey;
}

@mixin flex-box($direction, $justify, $align, $gap) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
	gap: $gap;
}

i.material-icons {
	font-size: 29px;
}

a {
	text-decoration: none;

	&:link,
	&:visited,
	&:hover,
	&:active {
		color: inherit;
	}
}

#root {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: $white;
	color: $dark-grey;
	min-height: 100vh;
	@include flex-box(column, flex-start, center, 0);
	padding-bottom: 50px;
}

header {
	@include border-bottom();
	@include flex-box(row, center, center, 0);
	position: fixed;
	height: $header-height;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: $white;

	.header-container {
		@include flex-box(row, space-between, center, 0);
		width: 100%;
		max-width: $user-page-container-max-width;
		margin: 0 $margin-left-right;

		.insta-logo {
			font-family: 'Lobster Two', cursive;
			font-size: 1.7rem;
			font-weight: 600;
		}

		.nav-container-header {
			@include flex-box(row, space-between, center, 0);
			width: 200px;

			.profile-picture {
				width: 24px;
				aspect-ratio: 1/1;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				border-radius: 50%;
				position: relative;
				cursor: pointer;

				.profile-options {
					position: absolute;
					right: 0;
					top: 150%;
					border: 1px solid $light-grey;
					border-radius: 5px;
					box-shadow: 0 1px 5px $light-grey;
					width: 12em;

					div {
						padding: 0.5em 0.8em;
						cursor: pointer;
						background-color: $white;
						@include flex-box(row, flex-start, center, 0.5em);

						&:hover {
							background-color: darken($white, 2%);
						}

						&:last-child {
							border-top: 1px solid $light-grey;
						}
					}
				}
			}
		}
	}
}

// Post container
.post-container {
	border: 1px solid $light-grey;
	border-radius: 0.3em;
	font-size: 0.9rem;

	.username {
		font-weight: 500;
	}

	& > div:not(.post-pic),
	form {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.post-header {
		@include flex-box(row, flex-start, center, 1em);
		padding-top: 1em;
		padding-bottom: 1em;

		.profile-pic {
			width: 30px;
			aspect-ratio: 1/1;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			border-radius: 50%;
		}
	}

	.post-pic {
		img {
			width: 100%;
		}
	}

	.post-edit-form {
		@include flex-box(row, stretch, center, 0.5em);
		padding-top: 1em;
		padding-bottom: 1em;

		input {
			border: none;

			&[type='text'] {
				outline: none;
				width: 100%;
			}

			&:not([type='text']) {
				background-color: unset;
				border: none;
				cursor: pointer;
				font-weight: 600;
				color: $blue;
			}
		}
	}

	.post-interactive-btns {
		@include flex-box(row, space-between, center, 1em);

		& > div:last-child {
			position: relative;

			.post-more-btn {
				cursor: pointer;
				@include flex-box(row, center, center, 0);
			}

			.post-more-options {
				position: absolute;
				right: 0;
				top: 100%;
				width: 10em;
				@include flex-box(column, stretch, stretch, 0);
				border: 1px solid $light-grey;
				border-radius: 5px;
				overflow: hidden;
				box-shadow: 0 1px 5px $light-grey;

				button {
					border: none;
					background-color: $white;
					padding: 0.4em;
					cursor: pointer;

					&:hover {
						background-color: darken($white, 5%);
					}

					&:not(:last-child) {
						@include border-bottom;
					}
				}
			}
		}
	}

	.post-like-count {
		@include flex-box(row, flex-start, center, 0);
	}

	.post-caption-and-comments {
		.comment {
			@include flex-box(row, space-between, center, 0.5em);

			.username-and-text {
				word-wrap: break-word;
				word-break: break-all;
			}

			.delete-comment-btn {
				font-size: 1.2em;
				cursor: pointer;
			}
		}
	}

	.posted-at {
		font-size: 0.8em;
		@include flex-box(row, flex-start, center, 0);
	}

	.comment-input-container {
		@include flex-box(row, stretch, stretch, 0);
		border-top: 1px solid $light-grey;
		padding-top: 1em;
		padding-bottom: 1em;

		input {
			border: none;
			outline: none;
			background-color: unset;
			width: 100%;

			&[type='submit'] {
				width: fit-content;
				color: lighten($blue, 20%);
				font-weight: 600;

				&.active {
					color: $blue;
					cursor: pointer;
				}
			}
		}
	}
}

// Homepage
.homepage-container {
	margin-top: $header-height;
	width: 100%;
	max-width: $homepage-container-max-width;

	.homepage-content {
		@include flex-box(column, flex-start, stretch, 20px);

		.post-container {
			@include flex-box(column, stretch, stretch, 0);
		}
	}
}

// User page
.user-page-container {
	margin-top: $header-height;
	width: 100%;
	max-width: $user-page-container-max-width;

	.user-info {
		@include border-bottom();
		width: 100%;
		display: grid;
		grid-template-columns: 120px 1fr;
		grid-template-rows: repeat(3, 1f);
		grid-template-areas:
			'profile-pic username-and-btns'
			'bio bio'
			'stats stats';

		.profile-picture-container {
			@include flex-box(row, center, flex-start, 0);
			grid-area: profile-pic;

			.profile-picture {
				width: 100%;
				aspect-ratio: 1 / 1;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				transform: scale(0.7);
				border: 1px solid $light-grey;
				border-radius: 50%;
			}
		}

		.username-and-btns {
			grid-area: username-and-btns;
			@include flex-box(column, center, flex-start, (10px 0));
			padding-left: $bio-padding-left;

			.username {
				font-size: 1.8rem;
				font-weight: 100;
			}

			.account-interactive-btn {
				padding: 0.5em 0;
				width: 200px;
				font-weight: 500;
				border-radius: 3px;
				cursor: pointer;
				@include flex-box(row, center, center, 0);

				&.follow-btn {
					background-color: $blue;
					color: $white;

					&.following {
						background-color: $white;
						color: $dark-grey;
						border: 1px solid $light-grey;
					}
				}

				&.edit-profile-btn {
					background-color: $white;
					color: $dark-grey;
					border: 1px solid $light-grey;
				}
			}
		}

		.bio {
			grid-area: bio;
			padding-left: $bio-padding-left;
			padding-top: 15px;
			padding-bottom: 15px;
			@include border-bottom();
			@include flex-box(column, flex-start, stretch, 5px);

			.bio-name {
				font-weight: 600;
			}
		}

		.stats {
			grid-area: stats;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			font-size: 0.9rem;
			padding: 10px 0;

			& > div {
				@include flex-box(column, center, center, 0);

				& > div:first-child {
					font-weight: 600;
				}

				& > div:last-child {
					color: $grey;
				}
			}
		}
	}

	.content {
		font-size: 1rem;

		.nav-container-content {
			height: 50px;
			display: grid;
			grid-template-columns: repeat(4, 1fr);

			& > div {
				@include flex-box(row, center, center, 5px);
				color: $grey;

				div {
					display: none;
				}
			}
		}

		.content-container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 4px;

			.user-page-pic-container {
				position: relative;
				aspect-ratio: 1 / 1;
				overflow: hidden;

				img {
					object-fit: cover;
					width: 100%;
					height: 100%;
				}

				.pic-stats {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					color: $white;
					@include flex-box(column, center, center, 10px);
					background-color: rgba(0, 0, 0, 0.3);
					visibility: hidden;

					& > div {
						@include flex-box(row, center, center, 8px);
					}
				}

				&:hover {
					cursor: pointer;

					.pic-stats {
						visibility: visible;
					}
				}
			}
		}
	}
}

// Account edit page
.account-edit-container {
	border: 1px solid $light-grey;
	box-shadow: 0 1px 5px $light-grey;
	padding: 2em;
	margin-top: $header-height;
	width: 100%;
	max-width: $homepage-container-max-width;
	@include flex-box(column, center, stretch, 1em);

	.form-header,
	.form-control {
		@include flex-box(row, stretch, baseline, 1.5em);
	}

	.form-header {
		.profile-pic-container {
			min-width: 5em;
			@include flex-box(row, flex-end, center, 0);
			height: 2em;

			.pic {
				height: 100%;
				aspect-ratio: 1/1;
				border-radius: 50%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
		}

		.username {
			font-weight: 600;
			font-size: 1.2em;
		}
	}

	.form-control {
		label {
			min-width: 5em;
			@include flex-box(row, flex-end, center, 0);
			font-weight: 500;
		}

		.form-input {
			width: 100%;
			padding: 1ch;
			border: 1px solid $light-grey;
			border-radius: 3px;
		}

		textarea {
			resize: vertical;
			font-family: inherit;
		}
	}

	.submit-btn-container {
		@include flex-box(column, center, center, 1em);

		.submit-btn {
			border: none;
			background-color: lighten($blue, 20%);
			color: $white;
			padding: 0.5em 1em;
			font-weight: 600;
			border-radius: 3px;

			&.active {
				background-color: $blue;
				cursor: pointer;
			}
		}
	}
}

// Post page
.post-page-container {
	margin-top: $header-height;
	width: 100%;
	max-width: $homepage-container-max-width;

	.post-container {
		height: 500px;
		overflow: hidden;
		display: grid;
		grid-template-columns: 3fr 2fr;
		grid-template-rows: 4em auto repeat(3, 2em) 4em;
		grid-template-areas:
			'pic header'
			'pic caption-and-comments'
			'pic interactive-btns'
			'pic like-count'
			'pic posted-at'
			'pic comment-input';

		.post-header {
			grid-area: header;
		}

		.post-pic {
			grid-area: pic;
			width: 100%;
			height: inherit;
			@include flex-box(row, center, center, 0);
			border-right: 1px solid $light-grey;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		.post-interactive-btns {
			grid-area: interactive-btns;
		}

		.post-like-count {
			grid-area: like-count;
		}

		.post-caption-and-comments {
			grid-area: caption-and-comments;
			border-top: 1px solid $light-grey;
			border-bottom: 1px solid $light-grey;
			overflow-y: auto;
		}

		.posted-at {
			grid-area: posted-at;
		}

		.comment-input-container {
			grid-area: comment-input;
		}
	}
}

@media (min-width: 730px) {
	.user-page-container {
		margin-left: $margin-left-right;
		margin-right: $margin-left-right;

		.user-info {
			grid-template-columns: 1fr 2fr;
			grid-template-rows: repeat(3, fit-content);
			grid-template-areas:
				'profile-pic username-and-btns'
				'profile-pic stats'
				'profile-pic bio';

			.profile-picture-container .profile-picture {
				width: 200px;
			}

			.username-and-btns {
				@include flex-box(row, flex-start, center, (0 20px));
				padding-top: 20px;

				.account-interactive-btn {
					width: 100px;
				}
			}

			.stats {
				@include flex-box(row, flex-start, center, 50px);
				padding-left: $bio-padding-left;
				padding-top: 20px;
				padding-bottom: 20px;
				font-size: 1rem;

				& > div {
					@include flex-box(row, center, center, 5px);
				}
			}

			.bio {
				border: none;
			}
		}

		.content {
			.nav-container-content {
				@include flex-box(row, center, center, 0);

				& > div {
					width: 100px;
					.material-icons {
						font-size: 18px;
					}

					div {
						display: initial;
						font-size: 0.8rem;
						text-transform: uppercase;
					}
				}
			}

			.content-container {
				gap: 25px;

				.user-page-pic-container .pic-stats {
					@include flex-box(row, center, center, 30px);
				}
			}
		}
	}
}
