@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.profile-pic {
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

input,
textarea {
  outline: none;
}

.username {
  font-weight: 500;
}

.username:hover {
  text-decoration: underline;
}

.insta-logo {
  font-family: 'Lobster Two', cursive;
  font-weight: 600;
}

.material-icons {
  font-size: 1.8rem;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
}

body.scroll-locked {
  overflow: hidden;
}

#root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  color: #3c3c3c;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  width: 100%;
  max-width: 950px;
  margin: 0 20px;
}

header .header-container .insta-logo {
  font-size: 1.7rem;
}

header .header-container .nav-container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  width: 200px;
}

header .header-container .nav-container-header .profile-pic {
  width: 24px;
  position: relative;
  cursor: pointer;
}

header .header-container .nav-container-header .profile-pic .profile-options {
  position: absolute;
  right: 0;
  top: 200%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 12em;
  overflow: hidden;
}

header .header-container .nav-container-header .profile-pic .profile-options div {
  padding: 0.5em 0.8em;
  cursor: pointer;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}

header .header-container .nav-container-header .profile-pic .profile-options div:hover {
  background-color: #f7f7f7;
}

header .header-container .nav-container-header .profile-pic .profile-options .log-out-btn {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.auth-page {
  padding-top: 50px;
  padding-bottom: 1rem;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 1rem;
}

.auth-page form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 2rem;
}

.auth-page form .insta-logo {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.auth-page form input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 0.5em;
}

.auth-page form input[type='submit'] {
  background-color: #458eff;
  color: white;
  font-weight: 600;
}

.auth-page form input[type='submit']:hover {
  cursor: pointer;
  background-color: #2c7fff;
}

.auth-page > div:last-child {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 1rem;
  text-align: center;
}

.auth-page > div:last-child span {
  color: #458eff;
  cursor: pointer;
  font-weight: 500;
}

.post-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.post-header .profile-pic {
  width: 30px;
}

.post-container {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  font-size: 0.9rem;
}

.post-container > div:not(.post-pic),
.post-container form {
  padding-left: 1rem;
  padding-right: 1rem;
}

.post-container .post-pic {
  position: relative;
}

.post-container .post-pic img {
  width: 100%;
}

.post-container .post-pic .material-icons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  color: white;
  font-size: 6em;
  -webkit-animation: heart-pop 1s forwards;
          animation: heart-pop 1s forwards;
  cursor: default;
}

.post-container .post-edit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.post-container .post-edit-form input {
  border: none;
}

.post-container .post-edit-form input[type='text'] {
  width: 100%;
}

.post-container .post-edit-form input:not([type='text']) {
  background-color: unset;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: #458eff;
}

.post-container .post-interactive-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.post-container .post-interactive-btns .like-btn {
  font-size: 1.8em;
}

.post-container .post-interactive-btns .like-btn:hover {
  color: rgba(0, 0, 0, 0.2);
}

.post-container .post-interactive-btns .like-btn.liked {
  color: #fd1d1d;
  -webkit-animation: heart-btn-pop 0.3s;
          animation: heart-btn-pop 0.3s;
}

.post-container .post-interactive-btns > div:last-child {
  position: relative;
}

.post-container .post-interactive-btns > div:last-child .post-more-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.post-container .post-interactive-btns > div:last-child .post-more-options {
  position: absolute;
  right: 0;
  top: 100%;
  width: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.post-container .post-interactive-btns > div:last-child .post-more-options button {
  border: none;
  background-color: white;
  padding: 0.4em;
}

.post-container .post-interactive-btns > div:last-child .post-more-options button:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.post-container .post-interactive-btns > div:last-child .post-more-options button:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.post-container .post-like-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.post-container .post-like-count span {
  font-weight: 600;
  cursor: pointer;
}

.post-container .post-caption-and-comments {
  padding: 0.5rem 0;
}

.post-container .post-caption-and-comments .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.post-container .post-caption-and-comments .comment .username-and-text {
  word-wrap: break-word;
  word-break: break-all;
}

.post-container .post-caption-and-comments .comment .delete-comment-btn {
  font-size: 1.2em;
}

.post-container .posted-at {
  font-size: 0.7em;
  padding-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.post-container .comment-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 1em;
  padding-bottom: 1em;
}

.post-container .comment-input-container input {
  border: none;
  background-color: unset;
  width: 100%;
}

.post-container .comment-input-container input[type='submit'] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #abccff;
  font-weight: 600;
}

.post-container .comment-input-container input[type='submit'].active {
  color: #458eff;
  cursor: pointer;
}

.homepage-container {
  padding-top: 50px;
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
  max-width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.homepage-container .current-user-card {
  border-radius: 3px;
  padding: 0 1rem;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0;
}

.homepage-container .current-user-card .profile-pic {
  width: 50px;
}

.homepage-container .current-user-card .post-upload-form {
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.homepage-container .current-user-card .post-upload-form textarea {
  width: 100%;
  resize: none;
  height: 5rem;
  font-family: inherit;
  border: none;
  font-size: 1.5em;
}

.homepage-container .current-user-card .post-upload-form textarea:hover {
  color: #458eff;
  caret-color: #458eff;
}

.homepage-container .current-user-card .post-upload-form textarea:hover::-webkit-input-placeholder {
  color: #458eff;
}

.homepage-container .current-user-card .post-upload-form textarea:hover:-ms-input-placeholder {
  color: #458eff;
}

.homepage-container .current-user-card .post-upload-form textarea:hover::-ms-input-placeholder {
  color: #458eff;
}

.homepage-container .current-user-card .post-upload-form textarea:hover::placeholder {
  color: #458eff;
}

.homepage-container .current-user-card .post-upload-form .drag-and-drop-container {
  height: 8rem;
  position: relative;
}

.homepage-container .current-user-card .post-upload-form .drag-and-drop-container .drag-and-drop-area {
  border: 2px dashed rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.homepage-container .current-user-card .post-upload-form .drag-and-drop-container .drag-and-drop-area:hover {
  cursor: pointer;
  border: 2px dashed #458eff;
  color: #458eff;
}

.homepage-container .current-user-card .post-upload-form .drag-and-drop-container .drag-and-drop-area span:first-child {
  font-size: 1.3em;
  font-weight: 500;
}

.homepage-container .current-user-card .post-upload-form .drag-and-drop-container .drag-and-drop-area input {
  display: none;
}

.homepage-container .current-user-card .post-upload-form .drag-and-drop-container .image-preview {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid #458eff;
  border-radius: 10px;
}

.homepage-container .current-user-card .post-upload-form .drag-and-drop-container .image-preview .material-icons {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.2rem;
}

.homepage-container .current-user-card .post-upload-form input[type='submit'] {
  background-color: #458eff;
  border: none;
  color: white;
  width: 100%;
  padding: 1em;
  border-radius: 10px;
  font-weight: 600;
}

.homepage-container .current-user-card .post-upload-form input[type='submit']:hover {
  cursor: pointer;
  background-color: #2c7fff;
}

.homepage-container .homepage-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 20px;
}

.homepage-container .homepage-content .post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 0;
}

.user-page-container {
  padding-top: 50px;
  padding-bottom: 1rem;
  width: 100%;
  max-width: 950px;
}

.user-page-container .user-info {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 1fr;
      grid-template-columns: 120px 1fr;
  -ms-grid-rows: (1f)[3];
      grid-template-rows: repeat(3, 1f);
      grid-template-areas: 'profile-pic username-and-btns' 'bio bio' 'stats stats';
}

.user-page-container .user-info .profile-pic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: profile-pic;
}

.user-page-container .user-info .profile-pic-container .profile-pic {
  width: 100%;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.user-page-container .user-info .username-and-btns {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: username-and-btns;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px 0;
  padding-left: 20px;
}

.user-page-container .user-info .username-and-btns .username {
  font-size: 1.8rem;
  font-weight: 100;
}

.user-page-container .user-info .username-and-btns .account-interactive-btn {
  padding: 0.5em 0;
  width: 200px;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.user-page-container .user-info .username-and-btns .account-interactive-btn.follow-btn {
  background-color: #458eff;
  color: white;
}

.user-page-container .user-info .username-and-btns .account-interactive-btn.follow-btn.following {
  background-color: white;
  color: #3c3c3c;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.user-page-container .user-info .username-and-btns .account-interactive-btn.edit-profile-btn {
  background-color: white;
  color: #3c3c3c;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.user-page-container .user-info .bio {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: bio;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 5px;
}

.user-page-container .user-info .bio .bio-name {
  font-weight: 600;
}

.user-page-container .user-info .stats {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: stats;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  font-size: 0.9rem;
  padding: 10px 0;
}

.user-page-container .user-info .stats > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  color: #787878;
}

.user-page-container .user-info .stats > div:not(:first-child) {
  cursor: pointer;
}

.user-page-container .user-info .stats > div span {
  font-weight: 600;
}

.user-page-container .content {
  font-size: 1rem;
}

.user-page-container .content .nav-container-content {
  height: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.user-page-container .content .nav-container-content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  color: #787878;
}

.user-page-container .content .nav-container-content > div div {
  display: none;
}

.user-page-container .content .content-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.user-page-container .content .content-container .user-page-pic-container {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.user-page-container .content .content-container .user-page-pic-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.user-page-container .content .content-container .user-page-pic-container .pic-stats {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
}

.user-page-container .content .content-container .user-page-pic-container .pic-stats > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.user-page-container .content .content-container .user-page-pic-container:hover {
  cursor: pointer;
}

.user-page-container .content .content-container .user-page-pic-container:hover .pic-stats {
  visibility: visible;
}

.account-edit-container {
  padding-top: calc(50px + 1rem);
  padding-bottom: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0;
}

.account-edit-container .account-edit-form {
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  padding: 2em;
  width: 100%;
  max-width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 1em;
}

.account-edit-container .account-edit-form .form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5em;
}

.account-edit-container .account-edit-form .form-header .profile-pic-container {
  min-width: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  height: 2em;
}

.account-edit-container .account-edit-form .form-header .profile-pic-container .profile-pic {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.account-edit-container .account-edit-form .form-header .username {
  font-weight: 600;
  font-size: 1.2em;
}

.account-edit-container .account-edit-form .form-header .username:hover {
  text-decoration: unset;
}

.account-edit-container .account-edit-form .form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 1.5em;
}

.account-edit-container .account-edit-form .form-control label {
  min-width: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  font-weight: 500;
}

.account-edit-container .account-edit-form .form-control .form-input {
  width: 100%;
  padding: 1ch;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.account-edit-container .account-edit-form .form-control textarea {
  resize: vertical;
  font-family: inherit;
}

.account-edit-container .account-edit-form .submit-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.account-edit-container .account-edit-form .submit-btn-container .submit-btn {
  border: none;
  background-color: #abccff;
  color: white;
  padding: 0.5em 1em;
  font-weight: 600;
  border-radius: 3px;
}

.account-edit-container .account-edit-form .submit-btn-container .submit-btn.active {
  background-color: #458eff;
  cursor: pointer;
}

.post-page-container {
  padding-top: calc(50px + 1rem);
  padding-bottom: 1rem;
  width: 100%;
  max-width: 950px;
}

.post-page-container .post-container {
  height: 500px;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  -ms-grid-rows: 4em auto (2em)[3] 4em;
      grid-template-rows: 4em auto repeat(3, 2em) 4em;
      grid-template-areas: 'pic header' 'pic caption-and-comments' 'pic interactive-btns' 'pic like-count' 'pic posted-at' 'pic comment-input';
}

.post-page-container .post-container .post-header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
}

.post-page-container .post-container .post-pic {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 1;
  grid-area: pic;
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.post-page-container .post-container .post-pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.post-page-container .post-container .post-interactive-btns {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: interactive-btns;
}

.post-page-container .post-container .post-like-count {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: like-count;
}

.post-page-container .post-container .post-caption-and-comments {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: caption-and-comments;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.post-page-container .post-container .posted-at {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: posted-at;
}

.post-page-container .post-container .comment-input-container {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: comment-input;
}

.user-list-page {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.user-list-page .user-list-container {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

.user-list-page .user-list-container > div:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
  font-weight: 600;
  padding: 1em;
}

.user-list-page .user-list-container > div:first-child .material-icons {
  position: absolute;
  top: 50%;
  right: 0.5em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.user-list-page .user-list-container > div:last-child {
  max-height: 300px;
  overflow: auto;
}

.user-list-page .user-list-container > div:last-child .user-list-user-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.user-list-page .user-list-container > div:last-child .user-list-user-card .profile-pic {
  width: 2rem;
}

.user-list-page .user-list-container > div:last-child .user-list-user-card > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0;
}

.user-list-page .user-list-container > div:last-child .user-list-user-card > div:last-child .name {
  color: #787878;
}

@media (min-width: 730px) {
  .homepage-container {
    padding-top: calc(50px + 1rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 2rem;
  }
  .homepage-container .current-user-card {
    position: -webkit-sticky;
    position: sticky;
    top: calc(50px + 1rem);
    width: 40%;
    padding: 0;
  }
  .homepage-container .homepage-content {
    width: 60%;
  }
  .user-page-container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .user-page-container .user-info {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: (fit-content)[3];
        grid-template-rows: repeat(3, -webkit-fit-content);
        grid-template-rows: repeat(3, fit-content);
        grid-template-areas: 'profile-pic username-and-btns' 'profile-pic stats' 'profile-pic bio';
  }
  .user-page-container .user-info .profile-pic-container .profile-pic {
    width: 200px;
  }
  .user-page-container .user-info .username-and-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0 20px;
    padding-top: 20px;
  }
  .user-page-container .user-info .username-and-btns .account-interactive-btn {
    width: 100px;
  }
  .user-page-container .user-info .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1rem;
  }
  .user-page-container .user-info .stats > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
  }
  .user-page-container .user-info .bio {
    border: none;
  }
  .user-page-container .content .nav-container-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
  .user-page-container .content .nav-container-content > div {
    width: 100px;
  }
  .user-page-container .content .nav-container-content > div .material-icons {
    font-size: 18px;
  }
  .user-page-container .content .nav-container-content > div div {
    display: initial;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  .user-page-container .content .content-container {
    gap: 25px;
  }
  .user-page-container .content .content-container .user-page-pic-container .pic-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}

@-webkit-keyframes heart-btn-pop {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heart-btn-pop {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes heart-pop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes heart-pop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/*# sourceMappingURL=App.css.map */